/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v20/u-440qyriQwlOrhSvowK_l5-ciZMZ-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v20/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v7/UqyVK80NJXN4zfRgbdfbo5BcV_cx.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v7/UqyVK80NJXN4zfRgbdfbo55cVw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.apresentacao{
	padding-bottom: 100px;
	height: 500%;
	width: 500%;
}
h1 h3,
.nome{color: lightgrey;
	line-height: 10px;
	font-family: 'Poiret One', serif;
	text-align: center;
	font-style: uppercase;
	padding-top: 100px;
	padding-bottom: 10PX;
	background-image: url(https://cdn-images-1.medium.com/max/780/1*sSvq1WQmNPniQRAvlgaTww.jpeg);
}

#conteudo{
	margin-top: 0;
	padding-top: 0;
	font-family:'Merriweather', serif;
	align-content: center;
}
.sobre,.formacao, .contato{
	text-align: center;
}
.whatsapp{padding-right: 40px;}

.navegacao ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.navegacao ul li { 
	display: inline;
	overflow: scroll; 
}

.navegacao ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:black;
    color: white;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
.navegacao ul li a: hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}